# handlers file for osp.servers
- name: wait for {{ item.value.name }}
  wait_for:
    host: "{{ instancefloatingip.floating_ip.floating_ip_address }}"
    port: 22
    search_regex: OpenSSH
    timeout: 600
  delegate_to: "{{ inventory_hostname }}"
  with_dict: "{{ osp_servers }}"
